body {
    font-family: Helvetica, Arial, sans-serif;
    list-style-type: none;
}
a {
    text-decoration: none;
}
ul, p {
    margin-bottom: 0;
}
li {
    list-style-type: none;
}
.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 0;
    margin-bottom: 0;
}